* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  height: 90px;
  background: #f0f0f0;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: monospace;
}

i {
  font-size: 15px;
  font-weight: 900;
  margin: 4px;
}

.home {
  height: 25px;
  width: 25px;
  color: #ffffff;
  background: #3683f0;
  padding: 2px 2px;
  border-radius: 50%;
}
.setting {
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  background: #3683f0;
  padding: 2px 2px;
  border-radius: 50%;
}
.notifications {
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  background: #3683f0;
  position: relative;
  padding: 2px 2px;
  border-radius: 50%;
}
.notifications-items {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
}
.picture_item {
  height: 30px;
  width: 30px;
}
.picture {
  height: 25px;
  width: 25px;
  padding: 2px 2px;
  border-radius: 50%;
  font-weight: 900;
  color: #ffffff;
}
.menu {
  font-size: 15px;
  font-weight: 900;
  color: #3683f0;
  background: #ffffff;
  padding: 2px 2px;
  border-radius: 50%;
}

#sidebar {
  position: absolute;
  width: 450px;
  height: 500px;
  left: -350px;
  transition: 0.4s;
  background: #ffffff;
  box-shadow: 0px 1px 1px 0px #00000040;
  border-radius: 20px 20px 20px 20px;
}

ul {
  position: relative;
}

.one_btn {
  position: absolute;
  right: 5px;
  top: 90px;
  border: 1px solid blue;
  height: 28px;
  padding: 10px 20px;
  width: 15px;
  border-radius: 10px;
  color: blue;
  font-size: 20px;
}

.sidebar_heading {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  background: #000;
  height: 50px;
}

.list-head {
  font-size: 16px !important;
  font-weight: 600;
}

#sidebar.active {
  left: 0;
}

#sidebar ul li {
  font-size: 16px;
  padding: 10px 0px;
  margin-left: 60px;
}

.toggle-btn {
  position: absolute;
  top: 120px;
  right: 0px;
  background: #ffffff;
  color: whitesmoke;
  height: 200px;
  width: 80px;
  border-radius: 25px 0 0 25px;
  box-shadow: 0px -4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#close_btn {
  background-color: #000;
  height: 190px;
  margin: 0;
  padding: 0;
  width: 40px;
  border-radius: 25px 0 0 25px;
  position: absolute;
  padding: 5px 5px;
  text-align: center;
}

/* .toggle-btn span {
  width: 45px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 4px;
} */

.main {
  padding: 20px 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_head {
  display: flex;
  justify-content: space-between;
}
.main__heading {
  color: blue;
}

.submit_btn {
  padding: 10px 30px;
  background: blue;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.main_title {
  background: #e9ecef;
  height: 80px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title_head {
  font-size: 20px;
}

.title_para {
  font-size: 11px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
}

.card__1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fdfdfd;
  box-shadow: 0px -4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 480px;
  height: 580px;
  border-radius: 15px 15px 15px 15px;
}

.card_head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #000;
  gap: 30px;
  padding: 10px 10px;
}

.card_description {
  padding: 0px 10px;
}

.description_detail {
  color: gray;
  font-size: 14px;
}
.Description {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.card__image_figma {
  height: 300px;
  width: 480px;
  object-fit: contain;
}

.sub_head {
  display: flex;
  align-items: center;
  gap: 50px;
  background: #feffc033;
  height: 40px;
}

#sub_head_icon {
  font-size: 20px;
}

.sub_thread {
  display: flex;
  flex-direction: column;
  position: relative;
}

.span {
  background: #0000000d;
  border: 0.1px solid #333333;
  box-shadow: 1px 3px 8px 0px #00000040;
  height: 65px;
  width: 199px;
  border-radius: 10px;
  border: 0.1px;
  opacity: 50%;
  padding: 10px 10px;
}
.thread_filed {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
}

.input {
  width: 199px;
  height: 70px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  border: 0.1px 0px 0px 0px;
  opacity: 0.5px;
  background: #ffffff;
  border: 0.1px solid #333333;
  box-shadow: 1px 3px 8px 0px #00000040;
  padding: 10px 10px;
  position: absolute;
  top: 40px;
}

.card_sub {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 15px;
}

.small_card {
  display: flex;
  gap: 15px;
}

.card_selector {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.selector_icons {
  i {
    font-size: 30px;
  }
}

.card_select_box {
  display: flex;
  gap: 15px;
}
.select {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px #00000040;
}

select {
  padding: 10px 0px;
  border: none;
  color: #000000;
  font-weight: bold;
}

.summary_button button {
  background: blue;
  color: #fff;
  padding: 15px 10px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
}

.summary_button button i {
  font-size: 24px;
}

.summary_details {
  height: 108px;
  padding: 20px 0px;
}

.summ_back {
  background-color: seashell;
  color: #000;
  padding: 10px 20px;
}
.summ_front {
  background-color: #fff;
  height: 40px;
  padding: 10px 20px;
}
.summ_front input {
  padding: 5px 5px;
  border: none;
}

.form {
  border: 1px solid #d1cece;
  background: #fdfdfd;
  height: 450px;
  width: 479px;
}
form {
  padding: 15px 20px;
}
.label input {
  padding: 15px 20px;
  width: 400px;
  background: #fdfdfd;
  box-shadow: 1px 1px 4px 2px #00000040;
  border: none;
  margin-top: 10px;
}
.content_details {
  margin-top: 20px;
}
.content {
  margin-top: 10px;
  background: #fcfbfb;
  box-shadow: 0px 2px 10px 0px #0000002e;
  padding: 5px 8px;
}

.ul_list {
  margin-top: 10px;
  padding: 10px 10px;
}
.ul_list ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
  color: #616161;
}

.pragraph_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  color: #616161;
}
.pa_icon {
  background-color: #d1cece;
}

.accordian_items {
  background: #fdfdfd;
  border: 1px solid #d1cece;
  width: 480px;
  height: 480px;
  margin-top: 10px;
}

.accordian_title {
  padding: 10px 20px;
  color: #000000;
}
.accordian_title p {
  font-size: 20px;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.accordian_content {
  padding: 10px 20px;
  color: #000000;
  margin-bottom: 60px;
}

.accordian_content p {
  font-size: 14px;
}

.accordian_content button {
  margin-top: 20px;
  float: right;
  padding: 10px 20px;
  border: none;
  color: #606161;
}

.example {
  padding: 10px 20px;
}
.example h5 {
  padding: 10px 20px;
  border: 1px solid #d9d7d7;
  background: #fcfcfc;
}

.example p {
  padding: 10px 20px;
}

.side_content {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -100px;
  gap: 20px;
  padding: 10px 100px;
}

.img_details {
  background-color: blue;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.img_details img {
  height: 40px;
  width: 40px;
  padding: 5px 7px;
  object-fit: cover;
}
